*{	/*-webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
    list-style: none;*/
}



/*================================
FONT
================================*/
/* latin */
@font-face {
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic'), local('Antic-Regular'), url(../fonts/NHsS2_8AsBoNMVvtCA3aYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(../fonts/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*================================
TYPOGRAPHY
================================*/
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
    color: black;
}

.bigicon {font-size: 3em;}
h1{font-size: 52px;}
h2{font-size: 42px;}
h3{font-size: 28px;}
h4{font-size: 18px; line-height: 1.4em;}

p{
    letter-spacing: 1px;
    color: #c3c3c3;
    font-weight: lighter;
}


/*================================
DEFAULT STYLE & FORMATING
================================*/
ul{padding: 0;}
a{color: #ea9312}
a:hover{color: #c3c3c3; text-decoration: none;}

#services{text-align: center;}
.col-md-4, .col-md-6{padding-bottom: 50px;}
.col-md-3 {padding: 0;}

.sectionhead{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr.separetor{
    width: 80px;
    color: #363942;
    border-top: 2px solid #ea9312;
}


.btn-default{
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 50px 0;
    color: #c3c3c3;
    letter-spacing: 2px;
}

.btn-default:hover{
    background: none;
    color: #ea9312;
}

.btnicon, .brandicon{
    margin-right: 10px;
}


/*================================
HERO AREA
================================*/
#hero{
    color: #fff;
    text-align: center;
    background: url(../img/trianglify-background.svg)no-repeat; /*your background image*/
    max-height: 880px;
    overflow: hidden;
}

.herocontent{
    padding-top: 100px;
    width: 100%;
    max-width: 900px;
}
.heroshot{
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;

}

/*================================
CLIENTS SECTION
================================*/
#clients{
    padding-top: 30px;
}
#clients h4{
    text-transooteorm: uppercase;
    padding-top: 10px;
}

#clients .col-md-4{
    padding-bottom: 0;
}

#clients ul{float: right}

#clients li{
    display: inline;
    margin-right: 35px;
}

#clients li:last-child{
    margin-right: 0px;
}


/*================================
ABOUT SECTION
================================*/
#about{padding-top: 50px;}

.myapps{margin-top: 25px;}
.myapps li{display: inline}
.myapps li img{
    width: 30px;
}

/*================================
PORTFOLIO SECTION
================================*/
#portfolio{
    background: #efefef;
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
}

#shotsByPlayerId li{
    width: 31%;
    float: left;
    padding: 15px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

#shotsByPlayerId li:hover{
    box-shadow: 1px 2px 25px rgba(160, 160, 160, 0.4);
    -webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
}

#shotsByPlayerId li img{
    width: 100%;
    border-radius: 5px;
}

#shotsByPlayerId img:hover{
    opacity: .5;
    overflow: hidden;
}

#shotsByPlayerId a:hover{color: #ea9312;}

#shotsByPlayerId h3{
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;}

#shotsByPlayerId h3 a{color: #363942;}

.likecount a{float: left; color: #c3c3c3;}
.commentcount a{float: right; color: #c3c3c3;}

/*================================
TESTIMONIAL SECTION
================================*/

.clientsphoto img{
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.clientsphoto img:hover{
    border-radius: 15%;
}

blockquote{
    margin: 0;
    padding: 0 0 10px 0;
    border: none;
}

blockquote p{   
    font-style: italic;
    font-size: 14px;
}

.quote{overflow: hidden}
.quote h5{margin-bottom: 5px;}


/*================================
FOOTER SECTION
================================*/

.footer{
    text-align: center;
    padding: 30px 0;
    position: relative;
    bottom:0px;
    font-size: 20px
}


/*================================
DIAMOND BUTTON
================================*/
.diamonddark{
  margin:50px;
  width:120px;
  height:120px;
  background:black;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  position:relative;
  cursor: pointer;
}
.diamondorange:hover {
    box-shadow: inset 200px 0 0 0 #ffb300;
}
.diamondblue:hover {
    box-shadow: inset 0 200px 0 0 #14a9ca;
}
.diamondgreen:hover {
    box-shadow: inset 200px 0 0 0 #7de149;
}
.diamondred:hover {
    box-shadow: inset 200px 0 0 0 #ec174b;
}
.diamondpurple:hover {
    box-shadow: inset 0 200px 0 0 #711772;
}
.diamond-innerdark{
  color:black;
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  position:absolute;
  left:2px;
  top:23px;
}
.diamondlight{
  margin:50px;
  width:120px;
  height:120px;
  background:#fff;
  border:2px solid black;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  position:relative;
  cursor: pointer;
}
.diamond-innerlight{
  color:#fff;
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  position:absolute;
  left:2px;
  top:23px;
}

/*================================
CUBE
================================*/

#wrapcube{
    max-height:200px;
}
.wrap {
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective-origin: 50% 100px;
    -webkit-perspective-origin: 50% 100px;
    -moz-perspective-origin: 50% 100px;
    -o-perspective-origin: 50% 100px;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
.cube {
    position: relative;
    width: 150px;
    transform-style: preserve-3d;
    cursor: pointer;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
.cube div {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}

.back {
    transform: translateZ(-100px) rotateY(180deg);
    transition: 0s background;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
.right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    transition: 0s background;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
.topleft {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    transition: 0s background;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
.left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    transition: 0s background;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
.top {
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: top center;
    transition: 0s background;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
.bottom {
    transform: rotateX(90deg) translateY(50px);
    transform-origin: bottom center;
    transition: 0s background;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
.front {
    transform: translateZ(50px);
    transition: 0s background;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
@keyframes spin {
    from { transform: rotateY(0); }
    to { transform: rotateY(360deg); }
}
.cube {
    animation: spin 10s infinite linear;
}


.cube:hover .front {
    transform: rotateX(0deg) translateX(0px) translateY(-255px);
    zoom:1;
}
.cube:hover .topleft {
    transform: rotateX(0deg) translateX(0px) translateY(15px);
    zoom:1;
}
.cube:hover .top {
    transform: rotateX(0deg) translateX(0px) translateY(-120px);
    zoom:1;
}
.cube:hover .bottom {
    transform: rotateX(0deg) translateX(105px) translateY(-460px);
    zoom:1;
}
.cube:hover .left {
    transform: rotateX(0deg) translateX(105px) translateY(-460px);
    zoom:1;
}
.cube:hover .right {
    transform: rotateX(0deg) translateX(-105px) translateY(-730px); 
    zoom:1;
}
.cube:hover .back {
    transform: rotateX(0deg) translateX(-105px) translateY(-730px);
    zoom:1;
}

.wrap:hover .cube{
    animation: pause !important;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}




.back:hover { background: #fea3aa; z-index:20; }
.front:hover { background: #f8b88b; z-index:20; }
.bottom:hover { background: #faf884; z-index:20; }
.left:hover { background: #baed91; z-index:20; }
.top:hover { background: #b2cefe; z-index:20; }
.right:hover { background: #d4a2f2; z-index:20; }



/*================================
HEXAGON HOME
================================*/
.hex{
    border:1px solid black;
}
.hex .corner-1,
.hex .corner-2 {
    border:none;
}

.cube:hover .hex {
    width:150px;
    height:86px;                                      
    position: relative;
    float:left;
    margin:25px 5px;
    text-align:center;
    zoom:1;
    border-top:none;
    border-bottom:none;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
   
.cube:hover .hex .corner-1,
.cube:hover .hex .corner-2 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: inherit;                                
    z-index:-2;                     
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;         
    backface-visibility: hidden;  
    border-left:1px solid black;
    border-right:1px solid black;  
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;      
}

.cube:hover .hex .corner-1 {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}

.cube:hover .hex .corner-2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
    -o-transition: background 0s linear;
    transition: background 0s linear;
    list-style: none;
}
   


.rotate360cw {
    transform: scale(0.8) translate(0px,-25px);
    -webkit-transform: scale(0.8) translate(0px,-25px);
    -o-transform: scale(0.8) translate(0px,-25px); 
    -moz-transform: scale(0.8) translate(0px,-25px);

     filter: alpha(opacity=0);
        opacity: 0;

    -webkit-transition: all 0.7s linear;
    -moz-transition:all 0.7s linear;
    -ms-transition:all 0.7s linear;
}

.zoomOutanimation {
    transform: scale(0) translate(0px,-25px);
    -webkit-transform: scale(0) translate(0px,-25px);
    -o-transform: scale(0) translate(0px,-25px);
    -moz-transform: scale(0) translate(0px,-25px);

     filter: alpha(opacity=0);
        opacity: 0;

    -webkit-transition: all 0.1s linear;
    -moz-transition:all 0.1s linear;
    -ms-transition:all 0.1s linear;
}

.pointerevent{
    pointer-events: none;
}


/*================================
ABOUT BITSOLUTION
================================*/
.aboutright_header{
    float:left;
    width:45%;
    padding:5px 20px 10px 20px;
    margin:35px 30px 20px 30px;
    text-align: justify;
    border: 1px dotted black;
}
.aboutright_body{
    font-size: 15px;
    text-align: justify;
}


/*================================
CAREER
================================*/
.notactive{
    opacity: 0.4;
     border:1px solid transparent;
}
.notactive:hover{
    opacity: 1;
    /*border:1px solid black;*/
}



/*================================
HEXAGON CLIENT
================================*/
.conhexagon{
    display: inline-table;padding:5px;margin-bottom:-50px;margin-top:-50px;
     -webkit-transition-duration: .5s; /* Safari */
    transition-duration: .5s;
}

.titlehexagon{
    position:relative;margin-top:-160px;text-align:center;opacity: 0;font-size:15px;text-transform: uppercase;font-weight: bold;cursor: pointer;color:rgba(0,0,0,0.7);
}

.texthexagon{
    position:relative;margin-left:3%;width:170px;color:black;cursor:pointer; text-align:center;opacity: 0;margin-bottom: 5px;
     -webkit-transition-duration: .5s; /* Safari */
    transition-duration: .5s;
}
.buttonhexagon{
    border: 1px solid black;
    /*opacity: 0;*/
    padding: 5px;
    z-index: 20;
    text-align:center;
    margin-top: 20px;
    cursor: pointer;
}

.buttonhexagon:hover{
    background: black;
    color: white;
}

svg{
  position: relative;
  height:200px;
  margin-left:-10px;
  cursor: pointer;
   -webkit-transition-duration: .5s; /* Safari */
    transition-duration: .5s;
}

.conhexagon:hover .titlehexagon{
    opacity: 1;
}
.conhexagon:hover .texthexagon{
    opacity: 1;
}
.conhexagon:hover .buttonhexagon{
    opacity: 1;
}
.conhexagon:hover svg{
    opacity: 0.17;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .conhexagon{ padding:5px;margin-top:10px; }
    .texthexagon{ width:300px;margin-left:3%; }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    svg{ height:230px; }
    .conhexagon{ padding:5px;margin-top:30px;}
    .texthexagon{ width:300px;margin-left:3%; }
}

@media only screen and (min-width : 1224px) {
    
}

/*================================
TESTIMONIAL CLIENT
================================*/
#testimonials {
  display: block;
  width: 100%;
}
#testimonials h2 {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3px;
}

#testimonials .carousel-wrap {
  display: block;
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

#testimonials .carousel-nav {
  display: block;
  width: 300px;
  margin: 0 auto;
}
#testimonials .carousel-nav img {
  cursor: pointer;
}
#testimonials .carousel-nav img:active {
  position: relative;
  top: 1px;
}
#testimonials .carousel-nav .nextbtn {
  float: right;
}

#testimonials .carousel-wrap ul {
  display: block;
  list-style: none;
  position: relative;
}
#testimonials .carousel-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 400px;
  margin-right: 15px;
}

#testimonials .carousel-wrap .context {
  font-size: 1.2em;
  line-height: 1.45em;
  color: #797670;
  font-style: italic;
  margin-bottom: 6px;
  padding-bottom: 4px;
  border-bottom: 1px solid #dcdcdc;
}


/*================================
DETAIL PORTFOLIO OVERLAY FULLSCREEN
================================*/

.fsp-close{
    font-size: 40px;
}

.popupforportfolio{
    width: 100%; color: rgb(255, 255, 255); color:black;z-index:121230;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .popupforportfolio{
        margin-top:100px;
        padding-bottom: 20px;
    }
    .fsp-close{
        margin-top: -50px;
    }
    #contentdetail{
        overflow: hidden;
    }
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#titledetail{
    font-size: 52px;
}
#contentdetail{
    overflow-y:scroll; padding: 0 20px 0 20px;max-height:300px;
}

/*================================
DETAIL PORTFOLIO SCROLLBAR
================================*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

/*================================
CONTACT
================================*/
.iconhover{
    opacity: 0.4;
    cursor:pointer;
    -webkit-transition: all 0.4s linear;
}

.iconhover:hover{
    opacity: 1;
}

.inputcontact{
    padding:10px;
    margin:5px;
    min-width: 40.7%;
}


.buttoncontact{
    padding:10px;
    margin:5px;
    min-width: 220px;
    background: #808080;
    color: #fff;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #000;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #000;
  color:#fff;
  border: 1px solid #000;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  border:1px solid black;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}